<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NODE - MYSQL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <a href="#" class="navbar-brand mx-auto">News</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4 text-center">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>TITULO</th>
                        <th>NOTICIA</th>
                        <th>CREACIÓN</th>
                    </tr>
                </table>
            </div>

            <div class="col-md-6 mt-4 card">
                <form action="/news" method="post" submit="return false;">
                    <h3 class="card-title">Nueva noticia</h3>
                    <div class="form-group">
                        <input type="text" name="title" class="form-control" placeholder="Titulo noticia">
                    </div>
                    <div class="form-group">
                        <textarea name="content" class="form-control" placeholder="Contenido noticia"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" onclick="submitForm();">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function submitForm(){
            let form = {
                title: document.getElementsByName('title')[0].value,
                content: document.getElementsByName('content')[0].value
            }
            ajaxSendNews(form);
        }

        function ajaxGetNews(){
            $.ajax({
                url: '/get_news',
                headers: { 'X-Requested-With': 'XMLHttpRequest' },
                type: 'POST',
                success: function (respond) {
                    console.log(respond);
                    for(let i in respond.data){
                        console.log();
                        $('table').append('<tr>' +
                        '<td>' + respond.data[i].id_news + '</td>' +
                        '<td>' + respond.data[i].title + '</td>' +
                        '<td>' + respond.data[i].content + '</td>' +
                        '<td>' + respond.data[i].date_created + '</td>' +
                        '</tr>');
                    }
                },
                error: function (respond) {
                    console.log(respond);
                }
            });
        }ajaxGetNews();

        function ajaxSendNews(form){
            $.ajax({
                url: '/news',
                headers: { 'X-Requested-With': 'XMLHttpRequest' },
                type: 'POST',
                data: form,
                success: function (respond) {
                    console.log(respond);
                    $('table').append('<tr>' +
                        '<td>' + respond.data.id_news + '</td>' +
                        '<td>' + respond.data.title + '</td>' +
                        '<td>' + respond.data.content + '</td>' +
                        '<td>' + respond.data.date_created + '</td>' +
                        '</tr>');
                    document.getElementsByName('title')[0].value = '';
                    document.getElementsByName('content')[0].value = '';
                    document.getElementsByName('title')[0].focus();  
                },
                error: function (respond) {
                    console.log(respond);
                }
            });
        }
    </script>
    
</body>
</html>